@import "http://netdna.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.css";
html body * span.clear, html body * div.clear, html body * li.clear, html body * dd.clear {
  background: none;
  border: 0;
  clear: both;
  display: block;
  float: none;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  font-family: Arial; }

html {
  font-family: "Trebuchet MS";
  font-size: 14px;
  min-width: 768px;
  width: 100%;
  height: 100%;
  overflow-y: auto; }

body {
  border-bottom: 1px solid #E1E1E1;
  box-sizing: border-box; }

.container {
  width: 100%;
  height: 100%; }

/*************************
    HEADER
**************************/
.header {
  overflow: hidden;
  background-color: white;
  position: relative;
  z-index: 10;
  box-shadow: 0px 0 7px 2px rgba(0, 0, 0, 0.2); }
  .header span:nth-child(1) {
    display: inline-block; }

.logo {
  height: 60px;
  width: 180px; }

.user {
  float: right; }
  .user div {
    display: inline-block !important;
    vertical-align: top;
    height: 60px;
    color: #515151;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 0 10px; }
  .user div:nth-of-type(1) {
    padding: 0 20px 0 30px;
    border-left: 1px solid #E1E1E1;
    background-color: #E1E1E1;
    color: #515151;
    margin-right: -4px; }
    .user div:nth-of-type(1):before {
      font: normal normal normal 14px/1 FontAwesome;
      display: block;
      margin-bottom: 10px;
      font-size: 20px;
      margin-left: calc(50% - 10px);
      margin-top: 5px;
      content: "\f007"; }
    .user div:nth-of-type(1) span:nth-of-type(1) {
      display: none; }
    .user div:nth-of-type(1) span:nth-of-type(2) {
      margin-left: -1em; }

.status {
  color: #fff !important;
  font-weight: 400 !important; }
  .status.connected {
    background: #36ae4f !important; }
    .status.connected:before {
      font: normal normal normal 14px/1 FontAwesome;
      display: block;
      margin-bottom: 10px;
      font-size: 20px;
      margin-left: calc(50% - 10px);
      margin-top: 5px;
      content: "\f00c"; }
  .status.disconnected {
    background: #C2242C; }
    .status.disconnected:before {
      font: normal normal normal 14px/1 FontAwesome;
      display: block;
      margin-bottom: 10px;
      font-size: 20px;
      margin-left: calc(50% - 10px);
      margin-top: 5px;
      content: "\f00d"; }
  .status span.fa {
    display: none; }

.links {
  float: left;
  padding: 0 !important; }
  .links span {
    border-left: 1px solid #E1E1E1;
    padding: 0 10px;
    font-weight: 700;
    color: #515151;
    display: inline-block;
    height: 100%;
    padding-top: 3px;
    box-sizing: border-box; }
    .links span:hover {
      color: #1b75bc; }
    .links span:before {
      font: normal normal normal 14px/1 FontAwesome;
      display: block;
      margin-bottom: 10px;
      font-size: 20px;
      margin-left: calc(50% - 10px);
      margin-top: 5px;
      font-size: 16px;
      margin-bottom: 12px; }
    .links span:not(.currencyButton):before {
      content: "\f291"; }
    .links span.currencyButton:before {
      content: "\f157\f07e\f155";
      margin-left: calc(50% - 15px); }

/*************************
    BODY
**************************/
.content {
  position: relative;
  height: calc(100% - 60px); }

.bgColor {
  background: #1b75bc; }

.sectionTitle {
  padding: 0 10px;
  color: #fff;
  text-transform: uppercase; }
  .sectionTitle span {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 40px; }
    .sectionTitle span:nth-child(2) {
      float: right; }

/***************************
    BIDDING AREA
***************************/
.biddingArea {
  width: 22%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  background-color: white;
  border-left: 1px solid #E1E1E1; }

.currentBid div {
  padding: 10px; }

.currentBid div:last-child span:first-child {
  color: #1b75bc; }

.currentBid div:last-child span:last-child {
  color: #1b75bc;
  font-size: 1.4rem;
  font-weight: 700; }

.currentBid span:first-child {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px; }

.currentBid span:last-child {
  color: #515151;
  float: right !important;
  font-size: 1.2rem;
  font-weight: 700; }

.currentBid .bidLocation {
  text-align: right;
  font-size: 13px;
  color: #515151;
  margin-top: 0;
  padding-top: 0; }

.bid_button {
  background: #1b75bc;
  color: #fff;
  padding: 20px 5px;
  border-radius: 100px;
  margin: 10px;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: 700; }
  .bid_button:hover {
    background-color: #20579e; }
  .bid_button span {
    margin-left: 5px; }
  .bid_button.gradient1 {
    background-color: #1b75bc;
    opacity: 1; }
  .bid_button.gradient2 {
    background-color: #515151;
    opacity: 0.5; }

.bidContainer {
  height: 250px;
  border-top: 1px solid #E1E1E1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.bidMessage {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%; }

.bidMessage span {
  font-size: 1.4rem;
  font-weight: 700;
  font-weight: 400;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  display: inline-block; }

.newItem {
  color: red;
  background: #fff; }

.bidWon {
  color: white;
  background: #36ae4f; }

/***************************
    CHOICE GROUPS
***************************/
.choicePriviledgeContainer {
  height: calc(100% - 250px); }
  .choicePriviledgeContainer .sectionTitle {
    background-color: #515151; }
    .choicePriviledgeContainer .sectionTitle .select_remaining_cb input {
      margin-top: 14px;
      margin-right: 7px; }
    .choicePriviledgeContainer .sectionTitle .select_remaining_text {
      text-transform: capitalize;
      font-size: 0.8rem; }
  .choicePriviledgeContainer > div:not(.sectionTitle) {
    height: calc(100% - 40px);
    position: relative; }

.choicePriviledgeScroller {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px; }

.select-all input {
  display: none; }
  .select-all input:checked ~ span i {
    color: #E87511;
    background-color: white;
    border-color: white; }

.select-all span {
  display: inline-block; }
  .select-all span i {
    color: transparent;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #1b75bc;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    margin-right: 5px; }
  .select-all span:hover i {
    color: rgba(27, 117, 188, 0.5); }

.CandPCheckboxOuter {
  display: inline-block !important;
  width: 100% !important;
  height: auto !important;
  margin: 0 4px 10px 0; }
  .CandPCheckboxOuter span {
    color: #1b75bc !important;
    font-weight: 700; }
  .CandPCheckboxOuter input {
    display: none; }
    .CandPCheckboxOuter input:checked ~ div {
      background-color: #E87511;
      border-color: #E87511;
      color: white; }
      .CandPCheckboxOuter input:checked ~ div:before {
        color: #E87511;
        background-color: white;
        border-color: white; }
      .CandPCheckboxOuter input:checked ~ div span {
        color: white !important;
        font-weight: 400; }
  .CandPCheckboxOuter div {
    color: #1b75bc;
    padding: 0 10px;
    border: 2px solid #1b75bc;
    border-radius: 20px;
    line-height: 30px;
    cursor: pointer; }
    .CandPCheckboxOuter div:before {
      content: "\f00c";
      font: normal normal normal 14px/1 FontAwesome;
      color: transparent;
      display: inline-block;
      background-color: rgba(27, 117, 188, 0.2);
      border: 1px solid #1b75bc;
      border-radius: 10px;
      width: 15px;
      height: 15px;
      margin-right: 5px; }
    .CandPCheckboxOuter div:hover {
      background-color: rgba(27, 117, 188, 0.2); }

.cnp-selector {
  display: inline-block;
  cursor: pointer;
  width: 100%; }
  .cnp-selector input {
    display: none; }
    .cnp-selector input:checked ~ div {
      background-color: #E87511;
      border-color: #E87511;
      color: white; }
      .cnp-selector input:checked ~ div i {
        color: #E87511;
        background-color: white;
        border-color: white; }
  .cnp-selector div {
    color: #1b75bc;
    padding: 0 10px;
    border: 2px solid #1b75bc;
    border-radius: 20px;
    line-height: 30px; }
    .cnp-selector div i {
      color: transparent;
      display: inline-block;
      background-color: rgba(27, 117, 188, 0.2);
      border: 1px solid #1b75bc;
      border-radius: 10px;
      width: 15px;
      height: 15px;
      margin-right: 5px; }
    .cnp-selector div:hover {
      background-color: rgba(27, 117, 188, 0.2); }

/***************************
    LOT DETAILS
***************************/
.lotDetailsArea {
  position: absolute;
  right: 22%;
  width: 50%;
  height: 100%;
  z-index: 6;
  box-shadow: 0px 0 10px 2px rgba(0, 0, 0, 0.2); }

.videoBg {
  background: #eee;
  width: 100%;
  height: 34vw; }
  @media (max-height: 625px) {
    .videoBg {
      height: 50%; } }
  .videoBg .image_slideshow {
    background-size: cover !important; }

.itemDetailContainer {
  position: absolute;
  top: 34vw;
  bottom: 60px;
  width: 100%; }
  @media (max-height: 625px) {
    .itemDetailContainer {
      top: 50%; } }
  .itemDetailContainer .sectionTitle {
    padding: 5px 0;
    height: 35px;
    box-sizing: border-box;
    padding: 0 10px; }
    .itemDetailContainer .sectionTitle span {
      float: none !important;
      margin: 0 !important;
      line-height: 35px !important; }

.lotDetails {
  font-size: 13px;
  padding: 10px;
  position: absolute;
  top: 35px;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto; }
  .lotDetails span {
    line-height: 1.4rem; }
  .lotDetails p {
    margin-bottom: 10px; }

.g-half {
  display: inline-block;
  width: 49%;
  box-sizing: border-box; }

.field-label {
  text-transform: uppercase;
  color: #515151;
  font-size: 11px;
  letter-spacing: 1px;
  display: block;
  font-weight: 700;
  margin-bottom: 5px; }

/***************************
    AUCTION MESSAGES
***************************/
.messagesContainer {
  border-top: 1px solid #E1E1E1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  height: 60px;
  padding: 7px 0; }
  .messagesContainer .sectionTitle {
    background-color: transparent;
    color: #515151;
    padding: 0;
    display: inline-block;
    width: 80px;
    text-align: right;
    vertical-align: top; }
    .messagesContainer .sectionTitle span {
      font-size: 0.8rem;
      font-weight: 700;
      line-height: 1.1rem; }

.auctionMessageItems {
  width: calc(100% - 95px);
  height: 100%;
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  vertical-align: top;
  padding-left: 10px; }
  .auctionMessageItems div {
    font-size: 13px;
    color: #C2242C;
    height: auto !important; }

/***************************
    LOT PREVIEW AREA
***************************/
.gridContainer2 {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 28%;
  z-index: 2; }
  .gridContainer2 .sectionTitle {
    background-color: #20579e;
    overflow: hidden;
    padding-bottom: 5px; }
    .gridContainer2 .sectionTitle > div {
      float: left !important;
      margin: 3px 5px 0 0 !important;
      width: auto !important;
      height: auto !important; }
      .gridContainer2 .sectionTitle > div input {
        margin: 0; }
      @media (min-width: 64em) {
        .gridContainer2 .sectionTitle > div {
          float: right !important;
          margin: 13px 0 0 0 !important; } }
    .gridContainer2 .sectionTitle span:first-child {
      display: block;
      line-height: 30px !important; }
      @media (min-width: 64em) {
        .gridContainer2 .sectionTitle span:first-child {
          display: inline;
          line-height: 40px !important; } }
    .gridContainer2 .sectionTitle span:last-of-type {
      font-size: 0.8rem;
      text-transform: capitalize;
      line-height: 20px !important;
      float: left !important; }
      @media (min-width: 64em) {
        .gridContainer2 .sectionTitle span:last-of-type {
          line-height: 40px !important;
          float: right !important; } }

.gridHeader {
  width: 100% !important;
  height: 19px !important;
  padding-top: 1px !important;
  letter-spacing: 1px;
  font-size: 11px;
  text-transform: uppercase;
  background-color: #20579e !important; }
  .gridHeader > div {
    display: inline-block;
    box-sizing: border-box;
    color: white; }

.dgrid-header, .dgrid-header-row, .dgrid-footer {
  background-color: #20579e !important; }

.gridHeader > div:nth-child(1) {
  display: none;
  text-align: left;
  padding-left: 10px; }

.gridHeader > div:nth-child(2) {
  text-align: left; }

.gridHeader > div:nth-child(3) {
  text-align: center; }

.gridHeader div:nth-child(4) {
  display: none;
  width: 10%; }

.gridContainer div:nth-child(5) {
  width: 18%;
  display: none; }

.gridContainer div:nth-child(6) {
  width: 10%; }

.dgrid {
  width: 100%; }

.dgrid-scroller {
  margin-top: 0 !important;
  left: 0 !important;
  overflow-y: auto;
  position: absolute;
  top: 75px;
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #E1E1E1; }
  @media (min-width: 64em) {
    .dgrid-scroller {
      top: 65px; } }

.dgrid-row {
  height: auto;
  border-bottom: 1px solid #E1E1E1; }
  .dgrid-row.dgrid-row-odd {
    background: transparent; }
  .dgrid-row.dgrid-row-even {
    background: transparent; }
  .dgrid-row.dgrid-selected {
    background-color: rgba(27, 117, 188, 0.2) !important; }
  .dgrid-row [class*="-lot_item"] {
    background-color: transparent;
    padding: 5px 0;
    position: relative; }
    .dgrid-row [class*="-lot_item"] > div {
      box-sizing: border-box; }
    .dgrid-row [class*="-lot_item"] div:nth-child(1) {
      float: none !important;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 20% !important; }
      .dgrid-row [class*="-lot_item"] div:nth-child(1) > div {
        background-color: transparent !important;
        height: 100% !important;
        background-size: 55px !important;
        background-position: 100% 50% !important;
        width: 100% !important; }
    .dgrid-row [class*="-lot_item"] div:nth-child(2) {
      display: inline-block;
      float: none !important;
      width: 12% !important;
      padding-left: 5px;
      box-sizing: border-box;
      vertical-align: top;
      font-weight: 700; }
    .dgrid-row [class*="-lot_item"] div:nth-child(3) {
      display: inline-block;
      float: none !important;
      width: 66% !important;
      max-height: 38px;
      overflow: hidden; }
    .dgrid-row [class*="-lot_item"] div:nth-child(4) {
      display: none;
      width: 100% !important;
      padding-left: calc(12% + 5px);
      padding-bottom: 5px;
      float: none !important;
      color: #515151;
      line-height: 15px; }
      .dgrid-row [class*="-lot_item"] div:nth-child(4):not(:empty) {
        display: block; }
        .dgrid-row [class*="-lot_item"] div:nth-child(4):not(:empty):before {
          content: "Sold for "; }
    .dgrid-row [class*="-lot_item"] div.biddingContinues {
      background-color: #E1E1E1;
      border-radius: 20px;
      padding: 2px 10px;
      margin-left: calc(12% + 5px);
      display: inline-block !important;
      width: auto !important; }
      .dgrid-row [class*="-lot_item"] div.biddingContinues:not(:empty):before {
        content: ""; }

.ui-state-active {
  background-color: #C1C1C1 !important;
  /* Make selected rows be gray */ }

.tableCell:hover {
  border-bottom: 1px dotted #848484 !important;
  border-right: 1px dotted #848484 !important; }

.dgrid :focus {
  outline: none !important; }

.dgrid-focus {
  outline-offset: 0 !important; }

.dgrid-header-scroll {
  background-color: #777;
  width: 3% !important; }

div[id*="HoverImage"] {
  z-index: 100;
  border: 5px solid #515151;
  background-size: 160px;
  left: 28vw !important; }
  @media (min-width: 64em) {
    div[id*="HoverImage"] {
      left: auto !important;
      right: calc(72vw + 80px); } }
  div[id*="HoverImage"] .hover_lot_run_name {
    background-color: #515151;
    padding: 3px 5px 3px 0;
    color: white; }

/*******************************************************/
/* COMMON STYLES (FROM JOSHI)
/*******************************************************/
.app-area {
  border-bottom: 1px solid #E1E1E1; }

.flash_player {
  position: relative;
  top: -545px;
  left: 8px;
  z-index: 15; }

.splash_image {
  left: 45% !important;
  z-index: 20; }

.stack-outer-container, .stack-inner-container {
  width: 100%;
  height: 675px;
  overflow: hidden;
  border-bottom: 1px solid #E1E1E1; }

.loading_info {
  width: 300px;
  height: 150px;
  text-align: center;
  position: absolute;
  top: 44%;
  left: 38%;
  color: #000000; }

.connected {
  color: #008800; }

.disconnected {
  color: #880000; }

/*******************************************************/
/* Bid Status Messages (FROM JOSHI)
/*******************************************************/
.bs_auctionpaused {
  color: #808080;
  background-color: RGB(245, 245, 245); }

.bs_auctionbackedup {
  color: #808080;
  background-color: #feffcb; }

.bs_bidpending {
  color: #808080;
  background-color: #feffcb; }

.bs_newitem {
  color: #808080;
  background-color: #feffcb; }

.bs_biddingsuspended {
  color: #C90107;
  background-color: RGB(255, 255, 255);
  border: 1px solid #C90107;
  height: 38px !important; }

.bs_highbidder {
  color: #808080;
  background-color: #feffcb; }

.bs_outbid {
  color: #C90107;
  background-color: RGB(255, 255, 255);
  border: 1px solid #C90107;
  height: 38px !important; }

.bs_rejected {
  color: #C90107;
  background-color: RGB(255, 255, 255);
  border: 1px solid #C90107;
  height: 38px !important; }

.bs_readytobid {
  color: #238723;
  background-color: RGB(233, 252, 209); }

.bs_sold {
  color: RGB(61, 176, 61);
  background-color: RGB(204, 204, 204); }

.bs_won {
  color: #238723;
  background-color: RGB(233, 252, 209); }

.bs_won_by_if_bid {
  color: #808080;
  background-color: #feffcb; }

.bid_button.next_bid {
  color: RGB(255, 255, 255); }

.bs_bid_requirement_missing {
  color: #C90107;
  background-color: RGB(255, 255, 255);
  border: 1px solid #C90107;
  height: 38px !important; }

.bs_fairwarning {
  color: #808080;
  background-color: #feffcb; }

.bs_toolate {
  color: #C90107;
  background-color: RGB(255, 255, 255);
  border: 1px solid #C90107;
  height: 38px !important; }

.bs_wonbyotherbidder {
  color: #C90107;
  background-color: RGB(255, 255, 255);
  border: 1px solid #C90107;
  height: 38px !important; }

.bs_biddingclosedonitem {
  color: #808080;
  background-color: RGB(245, 245, 245); }

.bs_counterofferreceived {
  background-color: #f1f1f1;
  color: black; }

/*******************************************************/
/* Image slide show
/*******************************************************/
.image_slideshow {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* http://stackoverflow.com/questions/9262861/css-background-image-to-fit-width-height-should-auto-scale-in-proportion */ }

/*******************************************************/
/* Final Amount
/*******************************************************/
.finalAmount {
  height: 100px; }

.finalAmontValue {
  margin-top: 35px !important;
  position: absolute; }

/*******************************************************/
/* Popups
/*******************************************************/
.app-area-popups {
  position: absolute;
  top: 50%;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  padding: 20px !important;
  width: 400px;
  border-radius: 3px;
  box-shadow: 3px 2px 13px 0px rgba(50, 50, 50, 0.63); }

.closeButton {
  width: 25px !important;
  height: 25px !important;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: 3px; }

.app-area-popup {
  width: 400px !important;
  text-align: center; }
  .app-area-popup p {
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.4rem; }
  .app-area-popup button {
    min-width: 100px;
    padding: 0 15px;
    line-height: 30px;
    border: none;
    background: #1b75bc;
    border: 2px solid #1b75bc;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700; }
    .app-area-popup button:hover {
      background-color: #20579e;
      border-color: #20579e; }
    .app-area-popup button:nth-of-type(2) {
      background-color: transparent;
      color: #1b75bc; }
      .app-area-popup button:nth-of-type(2):hover {
        background-color: #20579e;
        color: white;
        border-color: #20579e; }

#Paused .app-area-popup {
  box-sizing: border-box;
  height: auto !important;
  border: none !important;
  background-color: white !important;
  color: #1b75bc !important;
  padding: 20px !important; }
  #Paused .app-area-popup p {
    margin: 0 !important; }
  #Paused .app-area-popup > div {
    background-image: none !important;
    background-color: rgba(27, 117, 188, 0.2);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-top: 20px !important; }
    #Paused .app-area-popup > div:before {
      display: block;
      content: "";
      background-color: #1b75bc;
      position: absolute;
      left: 0;
      right: 100%;
      top: 0;
      height: 100%;
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-animation-name: bounce;
              animation-name: bounce;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      -webkit-animation-direction: alternate;
              animation-direction: alternate; }

@-webkit-keyframes bounce {
  from {
    left: 0;
    right: 100%; }
  33% {
    left: 0;
    right: 50%; }
  66% {
    left: 50%;
    right: 0; }
  to {
    left: 100%;
    right: 0; } }

@keyframes bounce {
  from {
    left: 0;
    right: 100%; }
  33% {
    left: 0;
    right: 50%; }
  66% {
    left: 50%;
    right: 0; }
  to {
    left: 100%;
    right: 0; } }

/*******************************************************/
/* CCY CONVERTER
/*******************************************************/
.movableCurrencyConverter {
  display: inline-block;
  background-color: #1b75bc;
  height: 60px;
  box-sizing: border-box;
  padding: 5px 15px;
  float: right;
  position: relative; }
  .movableCurrencyConverter > div > div > div {
    padding: 0 !important;
    float: none !important; }
    .movableCurrencyConverter > div > div > div span:nth-of-type(1) {
      display: block !important;
      float: none !important;
      margin-bottom: 10px;
      width: 250px !important; }
  .movableCurrencyConverter #selCurrencyOptionsId {
    float: right; }
    .movableCurrencyConverter #selCurrencyOptionsId select {
      float: none !important;
      top: 0 !important;
      width: 125px; }

.closeCurrencyConverter {
  cursor: pointer;
  font-size: 0;
  position: absolute;
  top: -5px;
  right: -5px; }
  .closeCurrencyConverter:before {
    font: normal normal normal 14px/1 FontAwesome;
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: calc(50% - 10px);
    margin-top: 5px;
    font-size: 14px;
    color: white;
    content: "\f00d"; }

#selCurrencyOptionsId {
  display: inline-block; }
