$brand-blue: #1b75bc;
$brand-blue_dark: #20579e;

$green: #36ae4f;
$orange: #E87511;

$c-brand: $brand-blue;
$c-brand_dark: $brand-blue_dark;
$c-confirm: $green;
$c-active: $brand-blue;

$c-active-contrast: $orange;

$c-grey-100: #E1E1E1;
$c-grey-500: #515151;


