// SOME DEFAULTS
$default-spacing: 10px;

$default-border: 1px solid $c-grey-100;

$default-font-size: 13px;


//SECTION HEIGHTS
$header-height: 60px;

$section-header-height: 40px;

$photo-height: 320px;
	$photo-height-large: 480px;

$messages-height: 60px;

$biddingHeight: 250px;


//GRID DIMENSIONS
$left-width: 28%;

$center-width: 45%;

$right-width: 27%;

