// SOME DEFAULTS
$default-spacing: 10px;

$default-border: 1px solid $c-grey-100;

$default-font-size: 13px;


$ccyconvertwidth: 250px;

//SECTION HEIGHTS
$header-height: 60px;

$section-header-height: 40px;

$photo-height: 34vw; //<--REALLY RESPONSIVE - keeps it 4:3 //320px;
	$photo-height-large: 34vw;//480px; //34vw; 

$messages-height: 60px;

$biddingHeight: 250px;


//GRID DIMENSIONS
$left-width: 28%;

$center-width: 50%;

$right-width: 22%;

